[submodule "pack/nvim/start/nvim-lspconfig"]
	path = pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/nvim/start/nvim-cmp"]
	path = pack/nvim/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "pack/nvim/start/cmp-nvim-lsp"]
	path = pack/nvim/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "pack/nvim/start/cmp-buffer"]
	path = pack/nvim/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "pack/nvim/start/cmp-path"]
	path = pack/nvim/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "pack/nvim/start/cmp-cmdline"]
	path = pack/nvim/start/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "pack/nvim/start/LuaSnip"]
	path = pack/nvim/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "pack/nvim/start/cmp_luasnip"]
	path = pack/nvim/start/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "pack/nvim/start/friendly-snippets"]
	path = pack/nvim/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets
[submodule "pack/nvim/start/gruvbox.nvim"]
	path = pack/nvim/start/gruvbox.nvim
	url = https://github.com/ellisonleao/gruvbox.nvim
[submodule "pack/nvim/start/nvim-treesitter"]
	path = pack/nvim/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/nvim/start/playground"]
	path = pack/nvim/start/playground
	url = https://github.com/nvim-treesitter/playground
[submodule "pack/nvim/start/nvim-ts-rainbow"]
	path = pack/nvim/start/nvim-ts-rainbow
	url = https://github.com/p00f/nvim-ts-rainbow
[submodule "pack/nvim/start/plenary.nvim"]
	path = pack/nvim/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/nvim/start/telescope.nvim"]
	path = pack/nvim/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/nvim/start/telescope-fzy-native.nvim"]
	path = pack/nvim/start/telescope-fzy-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzy-native.nvim
